body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
  
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
  
    background-color: #ee3643;
    border: none;
    border-radius: 2px;
}

.button:hover,
.button:focus {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #f4f7f8;
}

.header-wrapper-top {
    background-color: #293449;
}

.header-logo {
    background-color: #ee3643;
    box-shadow: 0px -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.header-logo:hover,
.header-logo:focus {
    background-color: #ca2c37;
}

.header-logo:active {
    background-color: #ba2732;
}

.search input[type="search"] {
    color: #ffffff;

    background-color: #293449;
    border: none;
}

.search input[type="search"]:hover {
    background-color: #212a3a;
}

.search input[type="search"]:focus {
    color: #000000;

    background-color: #ffffff;
}

.cart-list {
    list-style: none;
}

.cart-list a {
    color: #ffffff;
}

.bookmarks:hover,
.bookmarks:focus,
.cart:hover,
.cart:focus {
    background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
    color: rgba(255, 255, 255, 0.6);

    background-color: #161d29;
}

.order {
    text-align: center;
    vertical-align: middle;

    background-color: #63a63e;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

.order:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}

.site-title {
    font-style: italic;
    color: #ee3643;
}

.header-phone-number {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;

    border: 3px solid #ffffff;
}

.header-address {
    font-size: 14px;
    color: #32425c;
}

.user-login-list {
    list-style: none;
}

.user-login-list a {
    font-size: 21px;
    line-height: 21px;
    vertical-align: middle;
    text-align: center;
    color: #000000;

    background-color: #ffffff;
}

.user-login-list a:hover,
.user-login-list a:focus {
    color: #ee3643;
}

.user-login-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-name {
    color: #000000;
}

.user-name:focus,
.user-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-orders,
.header-account {
    text-decoration: underline;
    color: #32425c;
}

.header-orders:hover,
.header-orders:focus,
.header-account:hover,
.header-account:focus {
    color: #ee3643;
}

.header-orders:active,
.header-account:active {
    color: rgba(50, 66, 92, 0.3);
}

.main-nav {
    background-color: #32425c;
    box-shadow: 0px -5px 0 0 #293449 inset;
}

.main-nav-list {
    list-style: none;
}

.main-nav-list a {
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
}

.main-nav-list a:hover,
.main-nav-list a:focus {
    background-color: #293449;
}

.main-nav-list a:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

.promo {
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
}

.promo-list {
    list-style: none;
}

.promo-item {
    width: 300px;
    height: 123px;

    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.promo-item a{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.promo-materials {
    background-color: #ffbf47;
    background-image: url("../img/icon-1.svg");
    background-position: 0 50px;
    background-repeat: no-repeat;
}

.promo-instrument {
    background-color: #3bbce3;
    background-image: url("../img/icon-2.svg");
    background-position: 0 50px;
    background-repeat: no-repeat;
}

.promo-for-build {
    background-color: #dc91d8;
    background-image: url("../img/icon-3.svg");
    background-position: 0 50px;
    background-repeat: no-repeat;
}

.promo-sale {
    background-color: #8ed78f;
    background-image: url("../img/icon-4.svg");
    background-position: 0 50px;
    background-repeat: no-repeat;
}

.promo-delivery {
    background-color: #ffc047;
    background-image: url("../img/icon-5.svg");
    background-position: 0 50px;
    background-repeat: no-repeat;
}

.slide {
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;

    background-color: #685c53;
}

.slide h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.slide p {
    font-size: 18px;
}

.popular-products h2,
.popular-vendors h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;

    background-color: #f9f5f0;
}

.popular-vendors-list {
    list-style: none;
}

.popular-vendor-item {
    border: 1px solid #e5e5e5;
}
.popular-vendor-item:hover,
.popular-vendor-item:focus {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-vendor-item:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-vendor-item:active img {
    opacity: 0.3;
}

.services {
    background-color: #f4f7f9;
}

.services h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-list {
    width: 240px;

    list-style: none;

    box-shadow: ;
}

.services-item {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;

    background-color: #32425c;
}

.services-item:hover,
.services-item:focus {
    background-color: #293449;
}

.services-item:active {
    color: #32425c;

    background-color: #ffffff;
}

.service-wrapper-delivery {
    background-image: url("../img/delivery.png");
    /* background-position: 0 0; */
    background-repeat: no-repeat;
}

.service-wrapper-guarantee {
    background-image: url("../img/guarantee.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.service-wrapper-credit {
    background-image: url("../img/credit.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.services h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #32425c;

}

.delivery h2{
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.delivery ul {
    list-style: none;
}

.delivery li {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.contacts h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.page-title {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;

    background-color: #f2f6f8;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.sort {
    line-height: 18px;
    text-transform: uppercase;

    background-color: #f7f3ec;
}

.sort a {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
    color: rgba(0, 0, 0, 0.18);
}

.sort a:hover,
.sort a:focus {
    color: #000000;
    text-decoration-style: solid;

}

.sort a:active {
    color: #ee3643;
    text-decoration: none;
}

.filter-title {
    text-transform: uppercase;
    line-height: 18px;

    background-color: #f7f3ec;
}

.filter fieldset {
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:last-of-type {
    border: none;
}

.filter legend {
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}

.filter ul {
    list-style: none;
}

.price-range {
    width: 220px;
    height: 80px;

    background-color: #f7f3ec;
}

.price-min,
.price-max {
    font-size: 17px;
    line-height: 18px;

    background-color: #f7f3ec;
    border: none;
}

.price-min + span {
    font-size: 16px;
    line-height: 18px;
    color: #444444;
}

.filter-option {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter-button {
    line-height: 18px;
    text-transform: uppercase;

    border: 1px solid #e5e5e5;
}

.catalog-items-list {
    list-style: none;
}

.catalog-item {
    border: 1px solid #e5e5e5;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);;
}

.catalog-item-title {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.catalog-item-first-price,
.catalog-item-last-price {
    font-size: 17px;
    line-height: 18px;
    text-align: center;
}

.catalog-item-first-price {
    color: #999999;
    text-decoration: line-through;
}

.catalog-item-last-price {
    width: 141px;

    line-height: 38px;
    color: #ffffff;

    /* background-color: #ee3643; */
    background-image: url("../img/red-button.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.catalog-item-buy,
.catalog-item-bookmark {
    width: 135px;
    height: 38px;
    display: block;

    line-height: 38px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.catalog-item-buy {
    color: #ffffff;

    background-color: #63a63e;
    border-radius: 2px;
    box-shadow: 0px -3px 0 0 #367315 inset;
}

.catalog-item-buy:hover,
.catalog-item-buy:focus {
    background-color: #5fbb2d;
} 

.catalog-item-buy:active {
    background-color: #518534;
    box-shadow: none;
}

.catalog-item-bookmark {
    color: #32425c;

    border: 3px solid #63a63e;
    border-radius: 2px;
    box-sizing: border-box;
}

.catalog-item-bookmark:hover,
.catalog-item-bookmark:focus {
    border: 3px solid #32425c;
}

.catalog-item-bookmark:active {
    opacity: 0.3;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    text-align: center;
    text-transform: uppercase;
    color: #000000;

    border: 1px solid #e5e5e5;
}

.pagination-item a:hover,
.pagination-item a:focus {
    border: 1px solid #bdc6ca;
}

.pagination-item a:active {
    border: 1px solid #ee3643;
}

.pagination-item-current a {
    color: #ffffff;

    background-color: #ee3643;
    border: none;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #ffffff;

    background-color: #ee3643;
    border: none;
}

.about-product {
    background-color: #f4f7f9;
}

.about-product h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.main-footer {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;

    background-color: #32425c;
}

.footer-logo {
    background-color: #ee3643;
    box-shadow: 0px -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.main-footer ul {
    list-style: none;
}

.footer-navigation a {
    color: #f1f5f7;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
    text-decoration: underline;
}    

.footer-navigation a:active {
    text-decoration: none;
    color: rgba(241, 245, 247, 0.5);
}

.footer-contacts,
.footer-contacts a {
    color: #f3f7f9;
}

.footer-offers a {
    color: #ffd180;
}

.footer-offers a:hover,
.footer-offers a:focus {
    text-decoration: underline;
}

.footer-offers a:active {
    text-decoration: none;
    color: rgba(255, 209, 128, 0.5);
}

.footer-wrapper-bottom {
    font-size: 16px;
    line-height: 18px;

    background-color: #293449;
}

.social-button {
    background-color: #212a3a;

    border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
    background-color: #ee3643;
}

.footer-wrapper-bottom p {
    color: #ffffff;
}

.footer-email,
.footer-created {
    color: #ffd180;
}

.footer-email:hover,
.footer-email:focus,
.footer-created:hover,
.footer-created:focus {
    text-decoration: underline;
}

.footer-email:active,
.footer-created:active {
    text-decoration: none;
    color: #ee3643;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumbold.woff2") format("woff2"),        
    url("../fonts/cuprumbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}