body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
  
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
  
    background-color: #ee3643;
    border: none;
    border-radius: 2px;
}

.button:hover,
.button:focus {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #f4f7f8;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.header-wrapper-top {
    min-height: 42px;
    margin-bottom: 46px;
    /* width: 100%; */
    background-color: #293449;
}

.header-logo {
    padding-top: 13px;
    width: 220px;
    height: 29px;
    /* margin-right: 17px; */
    background-color: #ee3643;
    box-shadow: 0px 5px 0 0 #b52933;
    
    text-align: center;
}

.header-logo:hover,
.header-logo:focus {
    background-color: #ca2c37;
    box-shadow: 0px 5px 0 0 #9a212a;
}

.header-logo:active {
    background-color: #ba2732;
    box-shadow: 0px 5px 0 0 #8e1e26;
}

.search {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #293449;
}

.search input[type="text"]::placeholder {
    color: #ffffff;
}

.search input[type="text"] {
    min-height: 40px;
    background-color: #293449;
    border: none;
    width: 100%;
    padding-left: 17px;
    outline: 0;
}

.search input[type="text"]:hover {
    background-color: #212a3a;
}

.search input[type="text"]:focus,
.search input[type="text"]:active {
    color: #000000;

    background-color: #ffffff;
}

.cart-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-left: auto;
    padding: 0;
    width: 435px;
    list-style: none;
}

.cart-list a {
    color: #ffffff;
}

.bookmarks,
.cart {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.bookmarks a,
.cart a {
    display: block;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-right: 22px;
    padding-left: 20px;
}

.bookmarks:hover,
.bookmarks:focus,
.cart:hover,
.cart:focus {
    background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
    color: rgba(255, 255, 255, 0.6);

    background-color: #161d29;
}

.order {
    flex-grow: 0;
    width: 108px;
    margin-left: auto;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-right: 22px;
    padding-left: 20px;

    text-align: center;
    vertical-align: middle;

    background-color: #63a63e;
}

.order:hover,
.order:focus {
    background-color: #5fbb2d;
}

.order:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #518534;
}

.header-wrapper-middle {
    display: flex;
    margin-bottom: 41px;
}

.site-title {
    margin: 0;
    margin-left: 52px;
    padding: 0;
    margin-top: 3px;
    margin-right: 71px;
    width: 198px;

    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
}

.header-contacts {
    width: 270px;
    /* margin: 0 auto; */
}

.header-phone-number {
    display: block;
    width: 264px;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    border: 3px solid #ffffff;
}

.header-address {
    font-size: 14px;
    color: #32425c;
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.user-login-list {
    display: flex;
    width: 281px;
    margin: 0;
    margin-bottom: auto;
    margin-left: auto;
    padding: 0;
    list-style: none;
}

.user-login-list li {
    min-height: 21px;
}

.user-login-list a {
    display: block;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;

    font-size: 21px;
    line-height: 21px;

    color: #000000;   
}

.user-login-list a:hover,
.user-login-list a:focus {
    color: #ee3643;
}

.user-login-list a:active {
    color: rgba(0, 0, 0, 0.3);
}

.login {
    width: 121px;
    margin-right: 10px;
    background-color: #ffffff;
}

.logon {
    width: 150px;
    background-color: #ffffff;
}

.user-navigation {
    width: 299px;
    margin-left: auto;
}

.user-name {
    display: block;
    min-width: 299px;
    min-height: 33px;
    padding-top: 12px;
    margin-bottom: 8px;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

.user-name:focus,
.user-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.header-orders,
.header-account {
    display: inline-block;
    margin: 0 17px;
    font-size: 16px;
    text-decoration: underline;
    color: #32425c;
}

.header-orders:hover,
.header-orders:focus,
.header-account:hover,
.header-account:focus {
    color: #ee3643;
}

.header-orders:active,
.header-account:active {
    color: rgba(50, 66, 92, 0.3);
}

.main-nav {
    margin-bottom: 60px;

    background-color: #32425c;
    box-shadow: 0px -5px 0 0 #293449 inset;
}

.main-nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 23px;
    list-style: none;
}

.main-nav-list li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.main-nav-list a {
    display: block;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 23px;
    text-align: center;
    color: #ffffff;
}

.main-nav-list li:hover,
.main-nav-list li:focus {
    background-color: #293449;
}

.main-nav-list li:active {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

.promo {
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;
}

.promo-list {
    list-style: none;
}

.promo-item {
    width: 300px;
    height: 123px;

    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.promo-item a{
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.promo-materials {
    background-color: #ffbf47;
    background-image: url("../img/icon-1.svg");
    background-position: 0 50px;
    background-repeat: no-repeat;
}

.promo-instrument {
    background-color: #3bbce3;
    background-image: url("../img/icon-2.svg");
    background-position: 0 50px;
    background-repeat: no-repeat;
}

.promo-for-build {
    background-color: #dc91d8;
    background-image: url("../img/icon-3.svg");
    background-position: 0 50px;
    background-repeat: no-repeat;
}

.promo-sale {
    background-color: #8ed78f;
    background-image: url("../img/icon-4.svg");
    background-position: 0 50px;
    background-repeat: no-repeat;
}

.promo-delivery {
    background-color: #ffc047;
    background-image: url("../img/icon-5.svg");
    background-position: 0 50px;
    background-repeat: no-repeat;
}

.slide {
    font-family: "Cuprum", Arial, sans-serif;
    color: #ffffff;

    background-color: #685c53;
}

.slide h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.slide p {
    font-size: 18px;
}

.popular-products h2,
.popular-vendors h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;

    background-color: #f9f5f0;
}

.popular-vendors-list {
    list-style: none;
}

.popular-vendor-item {
    border: 1px solid #e5e5e5;
}
.popular-vendor-item:hover,
.popular-vendor-item:focus {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-vendor-item:active {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-vendor-item:active img {
    opacity: 0.3;
}

.services {
    margin-bottom: 82px;
    background-color: #f4f7f9;
}

.services h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-list {
    width: 240px;

    list-style: none;
}

.services-item {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;

    background-color: #32425c;
}

.services-item:hover,
.services-item:focus {
    background-color: #293449;
}

.services-item:active {
    color: #32425c;

    background-color: #ffffff;
}

.service-wrapper-delivery {
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
}

.service-wrapper-guarantee {
    background-image: url("../img/guarantee.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.service-wrapper-credit {
    background-image: url("../img/credit.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.services h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #32425c;

}

.delivery {
    width: 520px;
}

.delivery h2{
    margin: 0;
    margin-bottom: 26px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.delivery p {
    margin: 0;
    vertical-align: bottom;
}

.delivery p:first-of-type {
    margin-bottom: 24px;
}

.delivery-list {
    margin: 0;
    margin-top: 21px;
    margin-bottom: 36px;
    list-style: none;
}

.delivery li {
    margin-bottom: 20px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.delivery .button {
    display: block;
    width: 220px;
    padding-top: 11px;
    min-height: 27px;
}

.contacts {
    width: 300px;
}

.contacts h2 {
    margin: 0;
    margin-bottom: 27px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.contacts p {
    margin: 0;
    margin-bottom: 30px;
}

.contacts img {
    display: block;
}

.contacts .button {
    margin-top: 40px;
    padding: 0;
    width: 300px;
    min-height: 38px;
}

.page-title-wrapper {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.page-title {
    order: 1;

    margin: 0;
    padding: 30px 28px 29px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;

    background-color: #f2f6f8;
}

.breadcrumbs {
    margin: 0;
    margin-top: 19px;
    margin-bottom: 16px;
    list-style: none;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs a {
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.filters {
    width: 220px;
}

.filter-title {
    min-height: 27px;
    padding-left: 18px;
    padding-top: 11px;
    margin: 0;
    text-transform: uppercase;
    line-height: 18px;

    background-color: #f7f3ec;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:last-of-type {
    border: none;
}

.filter legend {
    font-size: 17px;
    font-weight: bold;
    line-height: 50px;
    text-transform: uppercase;
}

.filter ul {
    list-style: none;
}

.price-range {
    width: 220px;
    height: 80px;
    margin-top: 4px;
    margin-bottom: 9px;

    background-color: #f7f3ec;
}

input.price-min,
input.price-max {
    width: 95px;
    min-height: 38px;
    margin-bottom: 25px;
    padding: 0;
    
    font-size: 17px;
    line-height: 18px;
    text-align: center;

    background-color: #f7f3ec;
    border: none;
}

.price-min + span {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 18px;
    line-height: 18px;
    color: #444444;
}

.filter-option {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter-button {
    line-height: 18px;
    text-transform: uppercase;

    border: 1px solid #e5e5e5;
}

.sort {
    min-height: 38px;
    margin-bottom: 20px;

    line-height: 18px;
    text-transform: uppercase;

    background-color: #f7f3ec;
}

.sort p {
    margin: 0;
}

.sort a {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
    color: rgba(0, 0, 0, 0.18);
}

.sort a:hover,
.sort a:focus {
    color: #000000;
    text-decoration-style: solid;

}

.sort a:active {
    color: #ee3643;
    text-decoration: none;
}

.catalog {
    width: 700px;
}

.catalog-items-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 218px;

    border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);;
}

.catalog-item-title {
    margin: 0;
    margin-top: 9px;
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.catalog-item img {
    order: -1;
}

.catalog-item p {
    margin: 0;
}

.catalog-item-first-price,
.catalog-item-last-price {
    font-size: 17px;
    line-height: 18px;
    text-align: center;
}

.catalog-item-first-price {
    color: #999999;
    text-decoration: line-through;
}

.catalog-item-last-price {
    width: 141px;

    line-height: 38px;
    color: #ffffff;
    text-align: center;

    background-image: url("../img/red-button.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.catalog-item-buy,
.catalog-item-bookmark {
    width: 135px;
    height: 38px;
    display: block;

    line-height: 38px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.catalog-item-buy {
    color: #ffffff;

    background-color: #63a63e;
    border-radius: 2px;
    box-shadow: 0px -3px 0 0 #367315 inset;
}

.catalog-item-buy:hover,
.catalog-item-buy:focus {
    background-color: #5fbb2d;
} 

.catalog-item-buy:active {
    background-color: #518534;
    box-shadow: none;
}

.catalog-item-bookmark {
    color: #32425c;

    border: 3px solid #63a63e;
    border-radius: 2px;
    box-sizing: border-box;
}

.catalog-item-bookmark:hover,
.catalog-item-bookmark:focus {
    border: 3px solid #32425c;
}

.catalog-item-bookmark:active {
    opacity: 0.3;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    text-align: center;
    text-transform: uppercase;
    color: #000000;

    border: 1px solid #e5e5e5;
}

.pagination-item a:hover,
.pagination-item a:focus {
    border: 1px solid #bdc6ca;
}

.pagination-item a:active {
    border: 1px solid #ee3643;
}

.pagination-item-current a {
    color: #ffffff;

    background-color: #ee3643;
    border: none;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #ffffff;

    background-color: #ee3643;
    border: none;
}

.about-product {
    background-color: #f4f7f9;
}

.about-product h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.main-footer {
    margin-top: 86px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;

    background-color: #32425c;
}

.main-footer-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-wrapper-top {
    display: flex;
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 33px;
}

.footer-logo {
    margin-top: -38px;
    background-color: #ee3643;
    padding: 20px 41px;
    box-shadow: 0px 5px 0 0 #b52933;
}

.main-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    width: 550px;
}

.footer-navigation a {
    color: #f1f5f7;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
    text-decoration: underline;
}    

.footer-navigation a:active {
    text-decoration: none;
    color: rgba(241, 245, 247, 0.5);
}

.footer-wrapper-middle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.footer-contacts {
    margin: 0;
    margin-left: 3px;
    width: 322px;
}

.footer-contacts,
.footer-contacts a {
    color: #f3f7f9;
}

.footer-offers {
    display: flex;
    justify-content: space-between;
    width: 527px;
}

.footer-offers a {
    color: #ffd180;
}

.footer-offers a:hover,
.footer-offers a:focus {
    text-decoration: underline;
}

.footer-offers a:active {
    text-decoration: none;
    color: rgba(255, 209, 128, 0.5);
}

.footer-wrapper-bottom {
    padding-top: 39px;
    padding-bottom: 35px;
    font-size: 16px;
    line-height: 18px;

    background-color: #293449;
}

.footer-wrapper-bottom .container {
    display: flex;
}

.footer-wrapper-bottom p {
    margin: 0;
    color: #ffffff;
}

.footer-wrapper-bottom .footer-copyright {
    width: 232px;
    margin-right: 159px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 132px;
    text-align: center;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #212a3a;

    border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
    background-color: #ee3643;
}

.footer-wrapper-bottom .columns {
    margin-left: auto;
}

.footer-email,
.footer-created {
    color: #ffd180;
}

p.footer-email {
    margin-right: 48px;
    width: 140px;
}

p.footer-created {
    width: 100px;
    padding-right: 12px;
}

.footer-email a:hover,
.footer-email a:focus,
.footer-created a:hover,
.footer-created a:focus {
    text-decoration: underline;
}

.footer-email a:active,
.footer-created a:active {
    text-decoration: none;
    color: #ee3643;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumbold.woff2") format("woff2"),        
    url("../fonts/cuprumbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}